<header>
    <div class="header-container">
        <div class="logo"><a href="/">BOOK STORE</a></div>

        <form action="/" method="GET" class="search-form">
            <input type="text" name="search" placeholder="Tìm tên sách, tác giả..." class="search-input" value="{{keyword}}">
            <button type="submit" class="search-btn">
                <i class="fas fa-search"></i> Tìm
            </button>
        </form>

        <nav class="nav-menu">
            <ul>
                <li><a href="/">Trang Chủ</a></li>
                {{#if (eq user.role 'admin')}}
                    <li><a href="/admin">Quản trị</a></li>
                {{/if}}
            </ul>
        </nav>

        <div class="auth-buttons">
            {{#if user}}
                <span class="user-welcome">Chào, {{user.username}}</span>
                <a href="/logout" class="btn-logout-nav">Đăng xuất</a>
            {{else}}
                <a href="/login" class="btn-login-nav">Đăng nhập</a>
                <a href="/signup" class="btn-signup-nav">Đăng ký</a>
            {{/if}}
        </div>
    </div>
</header>