<header>
    <div class="header-container">
        <div class="logo">
            <a href="/">BOOK STORE</a>
        </div>

        <nav class="nav-menu">
            <ul>
                <li><a href="/">Trang Chủ</a></li>
                <li><a href="#">Sách</a></li>
                <li><a href="#">Thể Loại</a></li>
            </ul>
        </nav>

        <div class="auth-buttons">
            <a href="/login" class="btn-login-nav">Đăng nhập</a>
            <a href="/signup" class="btn-signup-nav">Đăng ký</a>
        </div>
    </div>
</header>